name,address,rftemplate,sitegroups
SoCal HQ,"23702 Via Lupona, Santa Clarita, CA 91355",US Warehouse,"US Warehouse,US Office"
AMBLER - MAIN OFFICE,"9998 AMBLER AVE, AMBLER AK, 99786",US Office,"US Office,US Warehouse"
ANAKTUVUK PASS - MAIN OFFICE BLDG,"1104 SUMMER ST, ANAKTUVUK PASS AK, 99721",US Office,US Office
ANCHORAGE - EASTCHESTER STATION,"800 INGRA ST, ANCHORAGE AK, 99501",US Office,US Office